<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styleshomepage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Population Census</title>
</head>

<body>
    <div class="container">
        <form id="form" action="" method="post">
            <h3>Person Details</h3>
            <fieldset>
                <input placeholder="Person Name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Gender" type="text" tabindex="2" required>
            </fieldset>
            <p>Date of Birth</p>
            <fieldset>
                <input placeholder="Date of Birth" type="Date" tabindex="3" required>
            </fieldset>
            <fieldset>
                <input placeholder="Marital Status" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Religion" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Literacy" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="container">
        <form id="form" action="" method="post">
            <h3>Address</h3>
            <fieldset>
                <input placeholder="zip code" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="House Number" type="text" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Province Number" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Municipality" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Ward" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="City" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Tole" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="container">
        <form id="form" action="" method="post">
            <h3>Health Information</h3>
            <fieldset>
                <input placeholder="Blood Group" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Regular Medicine" type="text" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Disability" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Previous Accident" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="container">
        <form id="form" action="" method="post">
            <h3>Family Information</h3>
            <fieldset>
                <input placeholder="House Number" type="text" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Number of Male" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Number of Female" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Number of children" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Number of Earning Member" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Number of Dependent Member" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Number of Disabled Member" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Number of Literate Member" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Permanent Adress" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="container">
        <form id="form" action="" method="post">
            <h3>House Information</h3>
            <fieldset>
                <input placeholder="House Number" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Owner" type="text" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Age of Housing" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Insurance" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Source of Light" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Source of Fuel" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="container">
        <form id="form" action="" method="post">
            <h3>House Structure</h3>
            <fieldset>
                <input placeholder="House Number" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Type" type="text" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Roofing Type" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="EarthQuake Resistant" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Numberof Storey" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Number of Rooms" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Latrine" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="container">
        <form id="form" action="" method="post">
            <h3>Land Information</h3>
            <fieldset>
                <input placeholder="House Number" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Type" type="text" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Area" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="container">
        <form id="form" action="" method="post">
            <h3>Luxury</h3>
            <fieldset>
                <input placeholder="House Number" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Vehicles" type="text" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Internet" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="CellPhone" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
</body>

</html>