<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/homepage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Database Project</title>
</head>

<body>
    <div class="container">

        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/statistics">Statistics</a>
            <a href="/entry">Data Entry</a>
        </div>
        <div class="centered">Population <span>Census</span></div>
    </div>
</body>

</html>